@keyframes flame{
    0%,
    100%{
        text-shadow: 0 -5px 10px rgba(255,69,0,0.6),0 -5px 20px rgba(255,69,0,0.4),0 -5px 30px rgba(255,69,0,0.2) , 0 -5px 40px rgba(255,69,0,0,0.1);
    }
    25%{
        text-shadow: 0 -5px 15px rgba(255,69,0,0.8) , 0 -5px 45px rgba(255,69,0,0.4),0 -5px 60px rgba(255,69,0,0.2);
    }
    50%{
        text-shadow: 0 -5px 20px rgba(255,69,0,0.8),0 -5px 40px rgba(255,69,0,0.4), 0 -5px 80px rgba(255,69,0,0.2);
    }
    75%{
        text-shadow: 0 -5px 15px rgba(255,69,0,0.8),0 -5px 30px rgba(255,69,0,0.6),0 -5px 45px rgba(255,69,0,0.4), 0 -5px 60px rgba(255,69,0,0.2);
    }
} 